:root {
    --profile-primary: #699BD9;
    --profile-secondary: #436FA7;
    --profile-tertiary: #2B496F;
}

@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url("../font/luckiestguy.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Gardenia';
    font-style: normal;
    src: url("../font/Gardenia-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'GardeniaBold';
    font-style: normal;
    src: url("../font/Gardenia-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'FuseV.2';
    font-style: normal;
    src: url("../font/FuseV.2Display-Regular.woff2") format('woff2');
}


.title {
    font-size: 56px;
    font-family: 'Luckiest Guy';
    text-align: center;
    color: white;
    width: 650px;
    margin: 0 auto;
    border: 30px solid transparent;
    border-image-source: url('../Assets/UI/TitleContainer (2).png');
    border-image-slice: 90;
    background: linear-gradient(#804A24 100%, transparent) no-repeat;
}

.hex-bg {
    background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,1) 100%), url('../Assets/UI/PowersPatternBg4.png');
    background-attachment: fixed;
    background-blend-mode: luminosity;
}

.header-container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding: 10px;
    width: 750px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.header-label {
    font-size: 1.5em;
    /* font-weight: bold; */
    font-family: 'Luckiest Guy';
    color: white;
    background: linear-gradient(0deg, rgb(0 70 121) 0%, rgba(0,105,154,1) 100%);
    padding: 10px;
    border: 4px solid white;
    border-radius: 10px;
}
.header-label:hover {
    color: gold;
    border: 4px solid gold;
}
.selected {
    color: gold;
    border: 4px solid gold;
}

.avatar-frame {
    position: absolute;
}

.avatar-img {
    transform: scale(0.85);
}

.rank-img {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 10;
}

.rank-text {
    font-size: 32px;
    /* font-weight: bold; */
    font-family: 'Luckiest Guy';
    color: white;
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 20;
    text-align: center;
    display: flex;
    /* vertical-align: middle; */
    /* margin: auto 0; */
    justify-content: center;
    align-items: center;
}
.rank-bar {
    width: 240px;
    height: 55px;
    background-image: url(../Assets/UI/XPBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 40px;
    position: absolute;
}
.rank-bar-text {
    /* height: 52px;
    display: flex;
    font-family: "GardeniaBold";
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.5px;
    align-items: center;
    font-size: 20px;
    color: white;
    position: relative; */
    height: 52px;
    display: flex;
    font-family: "GardeniaBold";
    justify-content: center;
    flex-direction: column;
    /* letter-spacing: 0.5px; */
    align-items: center;
    font-size: 18px;
    color: white;
    position: relative;
    padding-left: 15px;
    /* text-align: center; */
}
.rank-bar-text-max {
    font-size: 20px;
    letter-spacing: 0.5px;
}
.rank-bar-fill {
    background-image: url(../Assets/UI/BarfillBlue.png);
    height: 100%;
    background-size: contain;
    position: absolute;
    -webkit-mask-image: url(../Assets/UI/XPBarFrame.png);
    -webkit-mask-size: 100% 95%;
    /* -webkit-mask-repeat: no-repeat; */
    mask-image: url(../Assets/UI/XPBarFrame.png);
    mask-size: 100% 95%;
}
.rank-bar-fill-max {
    background-image: url(../Assets/UI/BarfillBlue.png);
    height: 100%;
    background-size: contain;
    position: absolute;
    -webkit-mask-image: url(../Assets/UI/XPBarFrame.png);
    -webkit-mask-size: contain;
    mask-image: url(../Assets/UI/XPBarFrame.png);
    mask-size: contain;
}
.rank-bar-fill-veteran {
    background-image: url(../Assets/UI/BarfillPurple.png);
}
.rank-bar-veteran {
    background-image: url(../Assets/UI/XPBarVeteran.png);
}
.rank {
    width: 300px;
    height: 80px;
}

.profile-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-name {
    font-size: 28px;
    font-family: 'Luckiest Guy';
    color: white;
    margin-left: 14px;
    padding: 10px;
}

.profile-banner {
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
}

.profile-bottom {
    display: flex;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}
.content-div {
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}
.overview {
    background-color: var(--profile-primary);
}
.progress {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.progress-page{
    background-color: var(--profile-primary);
    border-radius: 20px;
    width: 750px;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.below-profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--profile-secondary);
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.currency-medals-div {
    width: 500px;
    padding: 10px;
    background-color: var(--profile-tertiary);
    border-radius: 15px;
}
.currency-div {

}
.currency-mm-div {
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    /*margin-left:10px;*/
    display: inline-block;
    /* margin-right: 50px; */
}
.currency-mm-img {
    position: absolute;
    width: 100px;
    transform: rotate(345deg);
    margin-left: -60px;
    margin-top: -10px;
}
.currency-mm-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: #9AE42C;
    padding-left: 40px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px;*/
}

.currency-knowledge-div {
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    /*margin-left:10px;*/
    display: inline-block;
}
.currency-knowledge-img {
    position: absolute;
    width: 70px;
    transform: rotate(345deg);
    margin-left: -40px;
    margin-top: -20px;
}
.currency-knowledge-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: white;
    padding-left: 40px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px;*/
}

.currency-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.currency-trophies-div {
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/BarfillTrophyContainer.png);
    border-image-slice: 50;
    background-color: #314683;
    border-radius: 20px;
    /* margin-left: 10px; */
    display: inline-block;
    background: linear-gradient(180deg, rgba(94,10,196,1) 0%, rgba(131,47,235,1) 100%);
}
.currency-trophies-img {
    position: absolute;
    width: 70px;
    margin-left: -40px;
    margin-top: -18px;
}
.currency-trophies-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: white;
    padding-left: 40px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px;*/
}
.medals-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.medal-div {
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 0px;
}
.medal-img {
    /*width: 50px;*/
    /*width: inherit;*/
    /*object-fit: contain;
    width: 100%;
    height: 100%;*/
}
.medal-text {
    font-family: 'Luckiest Guy';
    color: white;
    font-size: 24px;
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    z-index: 5;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.stat-name {
    font-family: 'GardeniaBold';
    font-size: 22px;
    color: white;
}
.stat-value {
    font-family: 'GardeniaBold';
    font-size: 22px;
    color: #00DCFE;
    letter-spacing: 0.5px;
}

.column-header-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: white;
    padding: 10px;
}

.profile-stats {
    width: 500px;
    padding: 10px;
    background-color: var(--profile-tertiary);
    border-radius: 15px;
}

.top-heroes-div{
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/StatsRibbon.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    /* margin-left: 10px; */
    display: inline-block;
    /* margin-right: 50px; */
}

.progress-clipboard {
    width: 500px;
    height: 128px;
}

.progress-content-div {
    justify-content: center;
    background-color: var(--profile-primary);
    border-radius: 10px;
    flex-direction: column;
}

.selectors-div {
    width: 600px;
    padding: 10px;
    background-color: var(--profile-secondary);
    border-radius: 15px;
}

.selector-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    border: 20px solid transparent;
    border-image-source: url(../Assets/UI/InstaTowersContainerGold.png);
    border-image-slice: 115;
    background: linear-gradient(180deg, #005280 0%, #0075A0 100%);
    border-radius: 20px;
    margin: 10px 0px;
}
.selector-img {
    width:100px;
}
.selector-go-img {
    width: 75px;
}
.selector-text {
    font-family: 'Luckiest Guy';
    font-size: 24px;
    color: white;
}

.black-outline {
    -webkit-text-stroke: 0.7px black;
    text-shadow: 1px 0px 0px #000, -1px 0px 0 #000, 0px 1px 0 #000, 1px 0px 0px #000, 1px 2px 0px #000, -1px -1px 0 #000, -1px 2px 0 #000, 1px -1px 0px #000;
}
.mm-outline {
    -webkit-text-stroke: 0.7px #004500;
    text-shadow: 1px 0px 0px #004500, -1px 0px 0 #004500, 0px 1px 0 #004500, 1px 0px 0px #004500, 1px 2px 0px #004500, -1px -1px 0 #004500, -1px 2px 0 #004500, 1px -1px 0px #004500;
}
.knowledge-outline {
    -webkit-text-stroke: 0.7px #5600CC;
    text-shadow: 1px 0px 0px #5600CC, -1px 0px 0 #5600CC, 0px 1px 0 #5600CC, 1px 0px 0px #5600CC, 1px 2px 0px #5600CC, -1px -1px 0 #5600CC, -1px 2px 0 #5600CC, 1px -1px 0px #5600CC;
}

.noSelect {
    user-select: none;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}