:root {
    --profile-primary: #699BD9;
    --profile-secondary: #436FA7;
    --profile-tertiary: #2B496F;
}

@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url("../font/luckiestguy.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Gardenia';
    font-style: normal;
    src: url("../font/Gardenia-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'GardeniaBold';
    font-style: normal;
    src: url("../font/Gardenia-Bold.woff2") format('woff2');
}

.title {
    font-size: 48px;
    font-family: 'Luckiest Guy';
    text-align: center;
    color: white;
    width: 650px;
    margin: 0 auto;
    border: 20px solid transparent;
    border-image-source: url(../Assets/UI/TitleContainer.png);
    border-image-slice: 90;
    background: linear-gradient(#804A24 100%, transparent) no-repeat;
}

.hex-bg {
    background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,1) 100%), url(../Assets/UI/PowersPatternGreyBg2.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgb(0, 127, 255);
}
.transition-bg {
    transition: background-color 0.25s;
}

.header-container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding: 10px;
    width: 750px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.header-label {
    font-size: 1.5em;
    /* font-weight: bold; */
    font-family: 'Luckiest Guy';
    color: white;
    background: linear-gradient(0deg, rgb(0 70 121) 0%, rgba(0,105,154,1) 100%);
    padding: 10px;
    border: 4px solid white;
    border-radius: 10px;
}
.header-label:hover {
    color: gold;
    border: 4px solid gold;
}
.selected {
    color: gold;
    border: 4px solid gold;
}

.avatar-frame {
    position: absolute;
}

.avatar-img {
    transform: scale(0.85);
}

.rank-img {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 10;
}

.rank-text {
    font-size: 32px;
    /* font-weight: bold; */
    font-family: 'Luckiest Guy';
    color: white;
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 20;
    text-align: center;
    display: flex;
    /* vertical-align: middle; */
    /* margin: auto 0; */
    justify-content: center;
    align-items: center;
}
.rank-bar {
    width: 240px;
    height: 55px;
    background-image: url(../Assets/UI/XPBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 40px;
    position: absolute;
}
.rank-bar-text {
    /* height: 52px;
    display: flex;
    font-family: "GardeniaBold";
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.5px;
    align-items: center;
    font-size: 20px;
    color: white;
    position: relative; */
    height: 52px;
    display: flex;
    font-family: "GardeniaBold";
    justify-content: center;
    flex-direction: column;
    /* letter-spacing: 0.5px; */
    align-items: center;
    font-size: 18px;
    color: white;
    position: relative;
    padding-left: 15px;
    /* text-align: center; */
}
.rank-bar-text-max {
    font-size: 20px;
    letter-spacing: 0.5px;
}
.rank-bar-fill {
    background-image: url(../Assets/UI/BarfillBlue.png);
    height: 100%;
    background-size: contain;
    position: absolute;
    -webkit-mask-image: url(../Assets/UI/XPBarFrame.png);
    -webkit-mask-size: 100% 95%;
    /* -webkit-mask-repeat: no-repeat; */
    mask-image: url(../Assets/UI/XPBarFrame.png);
    mask-size: 100% 95%;
}
.rank-bar-fill-max {
    background-image: url(../Assets/UI/BarfillBlue.png);
    height: 100%;
    background-size: contain;
    position: absolute;
    -webkit-mask-image: url(../Assets/UI/XPBarFrame.png);
    -webkit-mask-size: contain;
    mask-image: url(../Assets/UI/XPBarFrame.png);
    mask-size: contain;
}
.rank-bar-fill-veteran {
    background-image: url(../Assets/UI/BarfillPurple.png);
}
.rank-bar-veteran {
    background-image: url(../Assets/UI/XPBarVeteran.png);
}
.rank {
    width: 300px;
    height: 80px;
}

.profile-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-name {
    font-size: 28px;
    font-family: 'Luckiest Guy';
    color: white;
    margin-left: 14px;
    padding: 10px;
}

.profile-banner {
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
}

.profile-bottom {
    display: flex;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}
.content-div {
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}
.overview {
    background-color: var(--profile-primary);
}
.progress {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.progress-page{
    background-color: var(--profile-primary);
    border-radius: 20px;
    width: 750px;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.below-profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--profile-secondary);
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.currency-medals-div {
    width: 500px;
    padding: 10px;
    background-color: var(--profile-tertiary);
    border-radius: 15px;
}
.currency-div {

}
.currency-mm-div {
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    /*margin-left:10px;*/
    display: inline-block;
    /* margin-right: 50px; */
}
.currency-mm-img {
    position: absolute;
    width: 100px;
    transform: rotate(345deg);
    margin-left: -60px;
    margin-top: -10px;
}
.currency-mm-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: #9AE42C;
    padding-left: 40px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px;*/
}

.currency-knowledge-div {
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    /*margin-left:10px;*/
    display: inline-block;
}
.currency-knowledge-img {
    position: absolute;
    width: 70px;
    transform: rotate(345deg);
    margin-left: -40px;
    margin-top: -20px;
}
.currency-knowledge-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: white;
    padding-left: 40px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px;*/
}

.currency-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.currency-trophies-div {
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/BarfillTrophyContainer.png);
    border-image-slice: 50;
    background-color: #314683;
    border-radius: 20px;
    /* margin-left: 10px; */
    display: inline-block;
    background: linear-gradient(180deg, rgba(94,10,196,1) 0%, rgba(131,47,235,1) 100%);
}
.currency-trophies-img {
    position: absolute;
    width: 70px;
    margin-left: -40px;
    margin-top: -18px;
}
.currency-trophies-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: white;
    padding-left: 40px;
    /* padding: 10px;
    padding-left: 50px;
    padding-right: 50px;*/
}
.medals-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.medal-div {
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 0px;
}
.medal-img {
    /*width: 50px;*/
    /*width: inherit;*/
    /*object-fit: contain;
    width: 100%;
    height: 100%;*/
}
.medal-text {
    font-family: 'Luckiest Guy';
    color: white;
    font-size: 24px;
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    z-index: 5;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.stat-name {
    font-family: 'GardeniaBold';
    font-size: 22px;
    color: white;
}
.stat-value {
    font-family: 'GardeniaBold';
    font-size: 22px;
    color: #00DCFE;
    letter-spacing: 0.5px;
}

.column-header-text {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: white;
    padding: 10px;
}

.profile-stats {
    width: 500px;
    padding: 10px;
    background-color: var(--profile-tertiary);
    border-radius: 15px;
}

.top-heroes-div{
    border: 20px solid transparent;
    /* padding: 15px; */
    border-image-source: url(../Assets/UI/StatsRibbon.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    /* margin-left: 10px; */
    display: inline-block;
    /* margin-right: 50px; */
}

.progress-clipboard {
    width: 500px;
    height: 128px;
}

.progress-content-div {
    justify-content: center;
    background-color: var(--profile-primary);
    border-radius: 10px;
    flex-direction: column;
}

.selectors-div {
    width: 600px;
    padding: 10px;
    background-color: var(--profile-secondary);
    border-radius: 15px;
}

.selector-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    border: 20px solid transparent;
    border-image-source: url(../Assets/UI/InstaTowersContainerGold.png);
    border-image-slice: 115;
    background: linear-gradient(180deg, #005280 0%, #0075A0 100%);
    border-radius: 20px;
    margin: 10px 0px;
}
.selector-img {
    width:100px;
}
.selector-go-img {
    width: 75px;
}
.selector-text {
    font-family: 'Luckiest Guy';
    font-size: 24px;
    color: white;
}



.tower-progress-container {
    display: flex;
}
.tower-selector-header {
    display: flex;
    max-width: 210px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
}
.tower-selector-header::-webkit-scrollbar {
    display: none;
}
.tower-selector-header-text {
    text-align: center;
    font-size: 18px;
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 45;
    background-color: #9F7842;
    border-radius: 20px;
}
.tower-progress-div {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    background-color: #9F7843;
    border-radius: 10px;
    position: fixed;
    margin-left: -9vw;
}
.tower-selector-primary {
    width: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/UI/TowerContainerPrimary.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    position: relative;
}
.tower-selector-military {
    width: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/UI/TowerContainerMilitary.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    position: relative;
}
.tower-selector-magic {
    width: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/UI/TowerContainerMagic.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    position: relative;
}
.tower-selector-support {
    width: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/UI/TowerContainerSupport.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    position: relative;
}

.tower-selector-img {
    width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.tower-selector-highlight {
    border: 40px solid transparent;
    border-image-source: url(../Assets/UI/SmallSquareGlowOutline.png);
    border-image-slice: 110;
    position: absolute;
    width: 32px;
    height: 54px;
    display: none;
}

.tower-progress-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tower-progress-top {
    /*border: 30px solid transparent;
    border-image-source: url(../Assets/UI/TitleContainer.png);
    border-image-slice: 90;
    background: linear-gradient(#804A24 100%, transparent) no-repeat;*/
    width: 700px;
    height: 100px;
    margin: 0 110px;
    border: 20px solid transparent;
    border-image-source: url(../Assets/UI/InfoContainer.png);
    border-image-slice: 110;
    background: linear-gradient(#b4834c 0%, #bd925a 100%) no-repeat;
}
.tower-progress-content-text {
    font-size: 32px;
    padding: 10px;
}

.tower-progress-content-xp {
    font-family: 'Luckiest Guy';
    font-size: 32px;
    color: #9AE42C;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.tower-progress-content-top {
    display:flex;
    flex-direction: column;
}

.tower-progress-info-container {
    display: flex;
    justify-content: space-between;
}

.tower-progress-content-desc {
    font-family: 'GardeniaBold';
    font-size: 18px;
    line-height: 24px;
    color: #271002;
    padding: 10px;
}
.tower-name-and-portrait {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tower-progress-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.tower-progress-portrait {
    width: 210px;
    height: 250px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tower-progress-portrait-primary {
    background-image: url(../Assets/UI/TowerContainerPrimaryLarge.png);
}
.tower-progress-portrait-military {
    background-image: url(../Assets/UI/TowerContainerMilitaryLarge.png);
}
.tower-progress-portrait-magic {
    background-image: url(../Assets/UI/TowerContainerMagicLarge.png);
}
.tower-progress-portrait-support {
    background-image: url(../Assets/UI/TowerContainerSupportLarge.png);
}
.tower-progress-portrait-paragon {
    background-image: url(../Assets/UI/TowerContainerParagonLarge.png);
}
.tower-progress-portrait-t5-locked {
    background-image: url(../Assets/UI/TowerContainerT5LockedLarge.png);
}
.tower-progress-portrait-paragon-locked {
    background-image: url(../Assets/UI/TowerContainerParagonLockedLarge.png);
}

.tower-progress-portrait-img {
    /* width: 210px;
    height: 250px;
    object-fit: contain;
    position: absolute; */
    /* width: 350px;
    height: 220px;
    object-fit: contain;
    position: absolute;
    margin-left: -70px; */
    /* object-position: left; */
    max-width: 220px;
    height: 200px;
    object-fit: contain;
    position: absolute;
}

.upgrade-row {
    display: flex;
    flex-direction: row;
}
.upgrade-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    width: 110px;
    position: relative;
    /* background-size: contain;
    background-repeat: no-repeat;
    position: relative; */
}
.upgrade-img {
    width: 80px;
    height: 110px;
    object-fit: contain;
    z-index: 1;
}
.upgrade-text {
    font-family: 'GardeniaBold';
    font-size: 15px;
    color: white;
    width: 130px;
    text-align: center;
    padding-top: 10px;
    height: 30px;
}
.upgrade-unlocked {
    background-image: url(../Assets/UI/UpgradeContainerBlue.png);
}
.upgrade-locked {
    background-image: url(../Assets/UI/UpgradeContainerGrey.png);
}
.upgrade-paragon {
    background-image: url(../Assets/UI/UpgradeContainerSkillParagon.png);
}
.upgrade-t5 {
    background-image: url(../Assets/UI/UpgradeContainerTier5.png);
}
.upgrade-t5-locked {
    background-image: url(../Assets/UI/UpgradeContainerTier5Locked.png);
}
.upgrade-paragon-special {
    background-image: url(../Assets/UI/UpgradeContainerParagon.png);
}
.upgrade-paragon-special-locked {
    background-image: url(../Assets/UI/UpgradeContainerParagonLocked.png);
}
.upgrade-green {
    background-image: url(../Assets/UI/UpgradeContainerGreen.png);
}
.upgrade-red {
    background-image: url(../Assets/UI/UpgradeContainerRed.png);
}

.tower-portrait-name {
    position: absolute;
    margin-top: -12px;
    font-size: 26px;
    line-height: 20px;
    width: 215px;
    text-align: center;
    z-index: 5;
}

.upgrade-glow {
    /* border-radius: 50%;
    box-shadow: 0px 0px 8px 8px #ffdf98;
    animation: glow 0.5s linear infinite alternate;
    width: 110px;
    height: 110px;
    margin-top: -110px;
    z-index: -1; */
    background-image: url(../Assets/UI/GlowSkillCircle.png);
    background-size: contain;
    position: absolute;
    width: 110px;
    height: 110px;
    z-index: -1;
    transform: scale(1.40);
    margin-left: 3.75px;
    animation: upgradeglow 0.35s cubic-bezier(0.4, 0, 1, 1) infinite alternate;
}

.tower-progress-top-paragon {
    border-image-source: url(../Assets/UI/InfoContainerParagon.png);
    background: linear-gradient(#2E398C 0%, #2337A8 100%) no-repeat;
}
.tower-progress-content-desc-paragon {
    font-family: 'GardeniaBold';
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding: 10px;
}

.tower-progress-bottom {
    height: 100px;
}

.upgrade-container {
    display: flex;
    align-items: center;
}

.upgrade-container-paragon {
    background-image: url(../Assets/UI/ParagonBGVertical.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    /* z-index: 3; */
    box-shadow: 0px 0px 8px 5px rgba(0,255,255,0.9);
    border-radius: 15px;
    align-items: center;
    height: 490px;
}

.upgrade-glow-paragon {
    animation: paragonglow 1.5s cubic-bezier(0.21, 0.32, 0.56, 0.8) infinite;
    animation-direction: unset;
    width: 110px;
    height: 110px;
    background-image: url(../Assets/UI/GlowSkillStarParagonText.png);
    background-size: contain;
    z-index: 0;
    margin-top: 3px;
    margin-left: 7px;
    position: absolute;
}

.upgrade-bg-img {
    width: 110px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.upgrade-after-locked {
    filter: saturate(0.25) brightness(0.75);
}

.hero-selector-header {
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
}
.hero-selector-header::-webkit-scrollbar {
    display: none;
}
.hero-selector-img {
    width: 100px;
    object-fit: contain;
}
.hero-selector-highlight {
    border: 40px solid transparent;
    border-image-source: url(../Assets/UI/SmallSquareGlowOutline.png);
    border-image-slice: 110;
    position: absolute;
    width: 32px;
    height: 54px;
    display: none;
    margin-top: -133px;
    margin-left: -6px;
}
.hero-selector-header-text {
    text-align: center;
    font-size: 18px;
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/BarfillVeteranContainer.png);
    border-image-slice: 46;
    background-color: #9F7842;
    border-radius: 20px;
    background: linear-gradient(180deg, #2E4A83 0%, #344181 100%);
}
.hero-progress-div {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* position: fixed;
    margin-left: -9vw; */
}

.hero-selector-div {
    margin: 5px;
}

.hero-progress-content {
    width: 800px;
    /* margin-left: 21vh; */
}

.hero-progress-top {
    display: flex;
    justify-content: center;
}

.hero-progress-header {
    width: 520px;
}

.hero-progress-trail-fx {
    width: 500px;
    height: 65px;
    position: absolute;
}
.hero-progress-header-text {
    position: relative;
    height: 50px;
    padding-top: 4px;
    padding-left: 38px;
    padding-bottom: 12px;
    font-size: 53px;
    background: url('../Assets/UI/YellowTxtTextureMain.png');  
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 0px 0px #000) drop-shadow(-1px 0px 0 #000) drop-shadow(0px 1px 0 #000) drop-shadow(1px 0px 0px #000) drop-shadow(1px 2px 0px #000) drop-shadow(-1px -1px 0 #000) drop-shadow(-1px 2px 0 #000) drop-shadow(1px -1px 0px #000);
}
.hero-progress-header-subtitle {
    font-size: 26px;
    padding-left: 60px;
}

.hero-progress-middle {
    display: flex;
    justify-content: space-between;
}
.hero-portrait-level-select-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 130px;
}
.hero-level-select-btn {
    background-image: url(../Assets/UI/BlankButton.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    padding: 10px;
}
.hero-level-select-text {
    width: 70px;
    position: absolute;
    font-size: 34px;
    font-family: 'Luckiest Guy';
    color: white;
    text-align: center;
}
.hero-level-select-div {
    display: flex;
    position: relative;
    align-items: center;
}
.hero-level-select-img {
    width: 70px;
    height: 50px;
    object-fit: contain;
    position: absolute;
}

.hero-portrait-img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    padding: 50px;
    /* position: absolute;
    margin-left: -100px;
    margin-top: -100px; */
}

.hero-portrait-div {
    display: flex;
    justify-content: center;
}
.hero-portrait-glow {
    position: absolute;
    z-index: -1;
    width: 512px;
    height: 512px;
}
.hero-portrait-bar {
    height: 100vh;
    width: 600px;
    background-color: rgba(0,0,0,0.1);
    transform: rotate(25deg) scale(1.0, 5.0);
    position: fixed;
    top: 0;
    z-index: -2;
    margin-left: -10vh;
}
.hero-skins-div {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-skin {
    width: 130px;
    padding: 5px;
}

.hero-progress-bottom {
    min-height: 100px;
    height: calc(100vh - 730px);
    overflow-y: scroll;
}
.hero-progress-bottom::-webkit-scrollbar {
    width: 5px;
}  
.hero-progress-bottom::-webkit-scrollbar-thumb {
    background-color: #1A679B;
}

.hero-progress-desc {
    font-family: 'GardeniaBold';
    font-size: 18px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-level-desc-div {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin: 5px 0 5px 20px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.hero-level-desc-icon-div {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-level-desc-image {
    background-image: url(../Assets/UI/HeroLevelBadge04.png);
    background-size: 65px 65px;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-level-desc-image-gold {
    background-image: url(../Assets/UI/HeroLevelBadge06.png);
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-level-desc-image-purple {
    background-image: url(../Assets/UI/HeroLevelBadge07.png);
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-level-desc {
    font-family: 'GardeniaBold';
    font-size: 18px;
    color: white;
    padding-left: 12px;
}

.hero-level-desc-text {
    width: 80px;
    font-size: 28px;
    text-align: center;
}

.selected-level-btn {
    filter: hue-rotate(270deg)
}
.hero-selector-div-disabled {
    filter: grayscale(100%);
}

.knowledge-progress-container {
    display: flex;
    /* background-image: url(../Assets/UI/Background/EventTotemPatternBg.png);
    border-radius: 20px;
    background-size: 10vh; */
    flex-direction: column;
    /* border: 20px solid transparent;
    border-image-source: url(../Assets/UI/Background/MainBgPanelParagon.png);
    border-image-slice: 46;
    background-color: #B700FF; */
    padding-bottom: 180px
}
.knowledge-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px;
}
.knowledge-progress-container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.knowledge-progress-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.knowledge-icon-div {
    position: relative;
}
.knowledge-name-text {
    font-size: 36px;
    padding: 4px;
}
.knowledge-desc-text {
    color: black;
    font-family: "GardeniaBold";
    font-size: 24px;
    line-height: 32px;
}
.knowledge-glow {
    background-image: url(../Assets/UI/GlowSkillCircle.png);
    background-size: contain;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    margin-left: 11px;
    margin-top: 10px;
    animation: upgradeglow 0.35s cubic-bezier(0.4, 0, 1, 1) infinite alternate;
}
.knowledge-progress-floating-tooltip {
    border: 20px solid transparent;
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 50;
    background-color: #9F7842;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    width: 75vw;
    max-width: 1000px;
    padding: 10px;
    text-align: center;
    display:none;
}
.tooltip-container-help-me {
    display: flex;
    justify-content: center;
}

.maps-progress-views {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
}
.maps-progress-view {
    border: 5px solid transparent;
    border-image-source: url(../Assets/UI/StatsTabBlue.png);
    border-image-slice: 25;
    border-radius: 20px;
    background: linear-gradient(180deg, #2E4A83 0%, #344181 100%);
    font-family: 'Luckiest Guy';
    color: white;
    font-size: 22px;
    padding: 2px 8px;
    background: linear-gradient(180deg, #17BBEE 0%, #14B8EB 100%);
    margin: 0 5px;
}
.maps-progress-coop-toggle {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.maps-progress-coop-toggle-text {
    font-size: 24px;
    padding: 5px;
}
.map-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    position: relative;
}
.none-border {
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/MainBgPanel.png);
    border-image-slice: 60;
    background-color: #9F7842;
    border-radius: 20px;
}
.coop-border {
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/MainBgPanelBlue.png);
    border-image-slice: 60;
    background-color: #9F7842;
    border-radius: 20px;
}
.bronze-border {
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/MainBGPanelBronze.png);
    border-image-slice: 60;
    background-color: #9F7842;
    border-radius: 20px;
}
.silver-border {
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/MainBGPanelGrey.png);
    border-image-slice: 60;
    background-color: #9F7842;
    border-radius: 20px;
}
.gold-border {
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/MainBGPanelGold.png);
    border-image-slice: 60;
    background-color: #9F7842;
    border-radius: 20px;
}
.black-border {
    border: 10px solid transparent;
    border-image-source: url(../Assets/UI/MainBgPanelHematite.png);
    border-image-slice: 60;
    background-color: #9F7842;
    border-radius: 20px;
}
.map-name {
    position: absolute;
    font-size: 20px;
}
.map-img {
    width: 200px;
    height: 127.5px;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
.maps-progress-header-bar {
    background-color: var(--profile-primary);
    border-radius: 10px 10px 0 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.maps-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--profile-tertiary);
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}
.map-container {
    display: flex;
}
.map-sections {
    display: flex;
}
.maps-progress-filter {
    display: flex;
}
.map-section-medal-img {
    height: 69px;
}
.map-label-medals {
    height: 56px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.map-label-rounds {
    font-size: 24px;
    display: flex;
    align-items: center;
}
.map-label-completed {
    font-size: 19px;
    display: flex;
    align-items: center;
}
.map-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.map-section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.map-section-text {
    font-size: 32px;
}
.map-progress-filter-difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-progress-filter-difficulty-select {
    height: 30px;
    min-width: 100px;
    margin-right: 10px;
}

.map-difficulty-icon {
    width:100px;
    padding: 0 10px;
}
.map-name-large {
    font-size: 28px;
    padding: 10px;

}
.map-name-top {
    display: flex;
    align-items: center;
}
.map-progress-div {
    width: 550px;
    background-color: var(--profile-secondary);
    border-radius: 10px;
}
.map-name-and-medals {
    width: 100%;
}
.map-icon {
    width: 502px;
    height: 320px;
    border: 20px solid transparent;
    border-image-source: url(../Assets/UI/BarfillContainer.png);
    border-image-slice: 40;
    background-color: #9F7842;
    border-radius: 20px;
    margin: 0 5px;
}
.map-progress-subtext {
    font-size: 24px;
    padding: 10px;
    color: white;
    font-family: 'GardeniaBold';
}
.map-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-progress-medals {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--profile-secondary);
    margin: 10px 0;
    border-radius: 20px;
    /* padding: 10px; */
    padding: 10px 80px;
    border-width: 20px;
}
.map-below-header-bar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.right-column-header {
    display: flex;
    justify-content: space-between;
}
.no-data-found {
    text-align: center;
    font-size: 32px;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.map-progress-container {
    background-color: var(--profile-primary);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
    align-content: space-around;
}
.single-map-progress-header-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.map-next-and-prev {
    display: flex;
}
.map-right-column {
    width: 550px;
    background-color: var(--profile-secondary);
    border-radius: 10px;
}
.map-stats-div {
    display: flex;
    background-color: var(--profile-tertiary);
    border-radius: 10px;
    margin: 10px;
}
.map-stats-icon {
    width: 80px;
    object-fit: contain;
    padding: 10px 10px;
}
.map-stats-text-mode {
    font-size: 28px;
}
.map-stats-text {
    font-size: 24px;
    color: white;
    font-family: 'GardeniaBold';
}
.map-stats-text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.black-outline {
    -webkit-text-stroke: 0.7px black;
    text-shadow: 1px 0px 0px #000, -1px 0px 0 #000, 0px 1px 0 #000, 1px 0px 0px #000, 1px 2px 0px #000, -1px -1px 0 #000, -1px 2px 0 #000, 1px -1px 0px #000;
}
.mm-outline {
    -webkit-text-stroke: 0.7px #004500;
    text-shadow: 1px 0px 0px #004500, -1px 0px 0 #004500, 0px 1px 0 #004500, 1px 0px 0px #004500, 1px 2px 0px #004500, -1px -1px 0 #004500, -1px 2px 0 #004500, 1px -1px 0px #004500;
}
.knowledge-outline {
    -webkit-text-stroke: 0.7px #5600CC;
    text-shadow: 1px 0px 0px #5600CC, -1px 0px 0 #5600CC, 0px 1px 0 #5600CC, 1px 0px 0px #5600CC, 1px 2px 0px #5600CC, -1px -1px 0 #5600CC, -1px 2px 0 #5600CC, 1px -1px 0px #5600CC;
}
.subtitle-outline {
    -webkit-text-stroke: 0.7px #E63C00;
    text-shadow: 1px 0px 0px #E63C00, -1px 0px 0 #E63C00, 0px 1px 0 #E63C00, 1px 0px 0px #E63C00, 1px 2px 0px #E63C00, -1px -1px 0 #E63C00, -1px 2px 0 #E63C00, 1px -1px 0px #E63C00;

}

.upgrade-tooltip {
    visibility: hidden;
    width: 415px;
    height: 90px;
    background-color: #F4F3E2;
    color: black;
    font-family: "GardeniaBold";
    line-height: 22px;
    text-align: left;
    border-radius: 26px;
    position: absolute;
    z-index: 5;
    bottom: 110%;
    left: 50%;
    margin-left: -222px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 20px solid transparent;
    border-image-slice: 50;
    border-image-source: url(../Assets/UI/SpeechBubbleSquare.png);
}
.upgrade-tooltip::after {
    content: "";
    position: absolute;
    top: 117%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-image-source: url(../Assets/UI/SpeechBubblePoint2.png);
    border-image-slice: 35;
}
.upgrade-div:hover .upgrade-tooltip {
    visibility: visible;
}

.noSelect {
    user-select: none;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
  
div {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

p {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #34547F;
    border-radius: 5px;
    border: 2px solid #2B466A;
}

input[type='checkbox']:checked {
    background: url('../Assets/UI/Checked.png');
    background-size: 25px 25px;
}

@keyframes glow{
    to {
      box-shadow: 0px 0px 5px 5px #ffdf98;
    }
  }

  @keyframes paragonglow {
    0% {
      -webkit-transform: rotate(-45deg) scale(0.75);
              transform: rotate(-45deg) scale(0.75);
              opacity: 1;
    }
    70% {
        opacity: 1;
    }
    98% {
      -webkit-transform: rotate(50deg) scale(1.75);
              transform: rotate(50deg) scale(1.75);
              opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(-45deg) scale(0.75);
                transform: rotate(-45deg) scale(0.75);
                opacity: 1;
    }
  }

  @keyframes upgradeglow {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1.45);
              transform: scale(1.45);
    }
  }

  @keyframes upgradeclicked {
    0% {
      -webkit-transform: scale(1.0);
              transform: scale(1.0);
    }
    50% {
      -webkit-transform: scale(1.45);
              transform: scale(1.45);
    }
    100% {
      -webkit-transform: scale(1.0);
              transform: scale(1.0);
    }
  }

@media (max-width: 1299px) {
    .tower-progress-div {
        width: 105px;
        margin-left: 0px;
    }
    .hero-progress-div {
        width: 220px;
        /* margin-left: -1vh; */
    }
}